.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
.idea/
android/local.properties
android/key.properties
android/app/*.jks
ios/Flutter/Flutter.podspec
ios/Pods/
.DS_Store
tools/__pycache__/
tools/.venv/
*.pyc
*.apk
*.aab
